* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;

    background: #ffffff;
}

canvas {
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;

    background: #f5f5f5;
    z-index: 0;
}

#target {
    display: none;
    position: absolute;
    width: 128px;
    height: 128px;
    z-index: 1;
}

#settings {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 2em;
}

#simulation-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
}

#wall-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 300px;
    max-height: 300px;
    min-width: 400px;
    padding: 2em;
    z-index: 2;
    overflow: scroll;
    overflow-x: hidden;
}

.wall input {
    width: 15%;
    margin-bottom: 0.5em;
}